<body id="page-top">
  <!-- Navigation-->
  <%= render 'navigation' %>

  <!-- Masthead-->
  <%= render 'masthead' %>

  <!-- NewAccount-->
  <% unless user_signed_in? %>
  <%= render 'new_account' %>
  <% end %>

  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - EST-Portal</div></div>
  </footer>
</body>