<body id="page-top">
  <!-- Navigation-->
  <%= render 'navigation' %>

  <!-- Masthead-->
  <%= render 'masthead' %>

  <!-- NewAccount-->
  <%= render 'new_account' %>

  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - EST-Portal</div></div>
  </footer>
</body>