<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">menu</div>
                    <li><%= link_to "新規作成", '#', method: :delete, class: "nav-link" %></li>
                    <li><%= link_to "見積一覧", '#', method: :delete, class: "nav-link" %></li>
                    <li><%= link_to '設定', edit_user_path(current_user), class: "nav-link" %></li>
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
                </div>
            </div>